@import url(http://fonts.googleapis.com/css?family=Lato:400,300);
@import url(http://fonts.googleapis.com/css?family=Abel);

html,body{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.7;
    background; #eeefe9;
}
h1, h2, h3, h4{
    font-family: 'Abel', sans-serif;
}
b, strong{
    font-weight: 400;
}
.carousel-caption{
    z-index: 10;
}
.carousel-inner > .item > img{ 
    position: absolute;
    top: 50px;
    min-width: 100%;
    height: auto;
}
.carousel-inner > .item{
    height: 500px;
}
.intro-block{
    background: url(../img/colors/shattered.jpg) no-repeat;
    margin-top: -20px;
    padding: 80px 15px 50px;
    color: #fff;
}
.text-muted{
    color: ghostwhite;
    font-weight: 100;
}
.navbar-default{
    background-color: #2b542c;
    border-color: #2b542c;
}
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-brand:hover {
    color: whitesmoke;
    background-color: #3c763d;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover{
    color: whitesmoke;
    background-color: #3c763d;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus{
    color: #fff;
    background-color: #449d44;
}
@media (max-width: 768px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
    }
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color:#449d44;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #3c763d ;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    color: ghostwhite;
    background-color: #3c763d;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #c1e2b3;
}
.col-sm-6{
    padding: 10px 40px 60px 40px;
}
.col-lg-12{
    padding: 30px 20px;
}


.marketing{
    background-color: #000;
}
hr{
    border-top: 1px solid #c1e2b3;
}
.info{
    background: #fff url(../img/colors/skyline.png);
    background-size: 100% 100%;
    padding: 40px;
}
.info small{
    padding: 10px 20px 10px 5px;
    color: ghostwhite;
}
.tab-content{
    position: absolute;
    padding: 50px 10px 100px 10px;
}
.info a{
    color: #fff;
}
.info a:hover{
    color: #000;
}
.tab-pane{
    padding: 25px 35px 15px 40px;
    color: ghostwhite;
    background: #245269;
}
.col-sm-4{
    color: ghostwhite;
    padding: 25px 20px 5px 20px;
}

.ftr{

    padding: 0 30px 0 30px;
}
.ftr address, .ftr a, .ftr p{
    color: #fff;
    padding: 20px 8px 20px 8px;
}
.ft_space{
    padding: 30px;
}
blockquote {
  padding: 40px 10px;
  font-size: 16px;
  border-left: 2px solid #fff;
}










